html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: "Roboto", sans-serif;
}
#root {
  height: 100%;
  width: 100%;
}
/*
.masked {
  position: relative;
  background: url("https://i.pinimg.com/564x/d9/54/87/d95487ffab31b9722b12eaf0e5709494.jpg")
    no repeat center center;
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
}
.masked::before {
  content: "Macbook Pro.";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: url("https://i.pinimg.com/564x/d9/54/87/d95487ffab31b9722b12eaf0e5709494.jpg")
    no repeat center center;
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
  filter: blur(40px);
  opacity: 0.8;
}

.masked::after {
  content: "Macbook Pro.";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: url("https://i.pinimg.com/564x/d9/54/87/d95487ffab31b9722b12eaf0e5709494.jpg")
    no repeat center center;
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
  filter: blur(20px);
  opacity: 0.8;
} */
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
 font-family: "Poppins", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.masked {
  position: relative;
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
  background: url("https://i.pinimg.com/564x/d9/54/87/d95487ffab31b9722b12eaf0e5709494.jpg")
    no-repeat center center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.masked::before,
.masked::after {
  content: "Macbook Pro.";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://i.pinimg.com/564x/d9/54/87/d95487ffab31b9722b12eaf0e5709494.jpg")
    no-repeat center center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
  pointer-events: none;
}

.masked::before {
  filter: blur(40px);
}

.masked::after {
  filter: blur(20px);
}
.line{
  border-bottom: 1px solid #333;
}
::-webkit-scrollbar {
  display: none;
}